:root {
    --cor-principal: #6e859f;
    --cor-secundaria: #284260;
    --cor-destaque: #c92bfc;
}

body {
    font-family: 'Arial', sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}